.div-color {
    background-color: #F5F5F7;
  }

  .div-color-bg {
    background-color: #d5d5d5;
  }

  .red-icon {
    color: #ff5a5a;
  }
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }